@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

/* * {
    border: #9c0000 1px solid;
} */
body {
    font-family: 'East Sea Dokdo', cursive;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
}
.battlefield {
    width: 100%;
    margin: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    font-size: 25px;
    color: #9c0000;
    /* align-items: center; */
}
.opponent_1 {
    background: no-repeat center/50% url("../img/left.jpg");
}
.opponent_2 {
    background: no-repeat center/50% url("../img/right.jpg");
}
.opponent_1 , .opponent_2 {
    width: 30%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: indigo 2px solid;
    border-radius: 4px;
    padding: 5px;
}
.opponent_1_panel , .opponent_2_panel {
    /* width: 35%; */
    height: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* align-self: center; */
    border: #573917e8 10px solid;
    /* border-radius: 4px; */
    padding: 5px;
}
.panel {
    border: rgb(130, 111, 0) 2px solid;
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
}
.bodyparts {
    border: #00820b 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #19e619;
    /* background-color: #eff314; */
    /* background-color:#ff6f0f; */
    /* background-color: #9c0000; */
    opacity: 0.6;

}
.bodyparts:hover {
    cursor: pointer;
    /* pointer-events: none; */
    box-shadow: 0px 0px 10px #9c0000;
}
.bodyparts:active {
    background-color: #9c0000;
}
.low_wound{
    background-color: #eff314;
}
.medium_wound{
    background-color:#ff6f0f;
}
.heavy_wound{
    background-color: #9c0000;
}
.opponent_1_top , .opponent_2_top {
    width: 10%;
    display: flex;
    flex-flow: row nowrap;  
}
.opponent_1_center , .opponent_2_center {
    height: 25%;
    width: 55%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.opponent_1_torso , .opponent_2_torso {
    display: flex;
    align-self: flex-start;
}
.opponent_1_bottom , .opponent_2_bottom {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
