@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

/* * {
    border: #9c0000 1px solid;
} */
body {
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    /* margin: 0 auto; */
}
.appeal {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.appeal span {
    font-size: 30px;
}
.heal_all {
    z-index: 50;
    display: flex;
    justify-content: center;
    width: 10%;
    margin: 20px auto;
    padding: 10px;
    background: #8cd603;
    border-radius: 8px;
    font-size: 16px;
}
.heal_all:hover {
    cursor: pointer;
    background: #ebb735;
}
.heal_all:active {
    background: #f8c543;
    box-shadow: 0px 50px 100px 180px #f8c543;
    z-index: 50;
}
/* .randomizer {

} */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
}
.battlefield {
    width: 100%;
    margin: 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    font-size: 25px;
    color: #720000;
    /* align-items: center; */
}
.opponent_1 {
    background: no-repeat center/60% url("../img/left.jpg");
}
.opponent_2 {
    background: no-repeat center/60% url("../img/right.jpg");
}
.opponent_1 , .opponent_2 {
    width: 30%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border: #826F00 2px solid;
    border-radius: 4px;
    padding: 5px;
}
.opponent_1_panel , .opponent_2_panel {
    /* width: 35%; */
    /* height: 30%; */
    height: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    /* align-self: center; */
    border: #573917e8 10px solid;
    /* border-radius: 4px; */
    padding: 5px;
}
.panel {
    background: #637c65;
    border: rgb(130, 111, 0) 2px solid;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    transition: background 0.1s linear;
}
.panel:hover {
    
    background: #506452;
    cursor: pointer;
}
.panel:active {
    
    background-color: #9c0000;;
    opacity: 0.8;
}
.bodyparts {
    border: #00820b 2px solid;
    border-radius: 50%;
    padding: 10px;
    background-color: #19e619;
    opacity: 0.6;
}
.bodyparts:hover {
    cursor: pointer;
    /* pointer-events: none; */
    box-shadow: 0px 0px 10px #9c0000;
}
.bodyparts:active {
    background-color: #720000;
    border: #720000 2px solid;
    opacity: 0.9;
    box-shadow: 0px 0px 50px #720000;
}
.low_wound{
    background-color: #eff314;
}
.medium_wound{
    background-color:#ff6f0f;
}
.heavy_wound{
    background-color: #9c0000;
    /* transition: background-color 0.5s linear; */
    /* добавить animation для мерцания смертельной раны */
}
.heavy_wound:hover{
    background-color: #3f0000;
    /* background-color: #720000; */
}
.opponent_1_top , .opponent_2_top {
    width: 10%;
    display: flex;
    flex-flow: row wrap;  
}
.opponent_1_center , .opponent_2_center {
    height: 25%;
    width: 55%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.opponent_1_torso , .opponent_2_torso {
    display: flex;
    align-self: flex-start;
}
.opponent_1_bottom , .opponent_2_bottom {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
