.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.battlefield {
    width: 100%;
    margin: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: lightblue;
    font-size: 20px;
    color: #9c0000;
    /* align-items: center; */
}
.opponent_1 {
    background: no-repeat center/50% url("../img/left.jpg");
}
.opponent_2 {
    background: no-repeat center/50% url("../img/right.jpg");
}
.opponent_1 , .opponent_2 {
    width: 40%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: indigo 2px solid;
    padding: 5px;
}
.bodyparts {
    border: #00820b 2px solid;
    padding: 10px;
    background-color: #19e619;
    /* background-color: #eff314; */
    /* background-color:#ff6f0f; */
    /* background-color: #9c0000; */
    opacity: 0.6;

}
.low_wound{
    background-color: #eff314;
}
.medium_wound{
    background-color:#ff6f0f;
}
.heavy_wound{
    background-color: #9c0000;
}
.bodyparts:hover {
    cursor: pointer;
}
.opponent_1_top , .opponent_2_top {
    width: 10%;
    display: flex;
    flex-flow: row nowrap;  
}
.opponent_1_center , .opponent_2_center {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.opponent_1_bottom , .opponent_2_bottom {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
